img {
    border-radius: 50%;
}

.speaker {
    margin: 80px auto;
    max-width: 800px;
}

.speaker__info {
    text-align: center;
}

.speaker__title-wrapper p {
    margin: 0;
}

.title-wrapper__socials {
    padding: 0;
}

.title-wrapper__socials li {
    display: inline-block;
    margin-right: 10px;
}

.speaker__desctiption {
    margin-top: 35px;
}

@media only screen and (min-width: 420px) {
    .speaker__info {
        display: flex;
        text-align: left;
    }
    .speaker__img-wrapper {
        margin-right: 30px;
    }
}