.subscribe {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    padding: 20px;
    height: 152px;
}

.subscribe p:first-child {
    margin-top: 13px;
}

.text-success, .text-danger {
    margin: 0;
    padding: 0;
}

/* .subscribe-alert {
    animation: FadeAnimation 5s ease-in-out;
}

@keyframes FadeAnimation {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
} */