.homeTransition-appear {
    opacity: 0;
}

.homeTransition-appear.homeTransition-appear-active {
    opacity: 1;
    transition: all .5s ease-in-out;
}

@media only screen and (min-width: 992px) {
    .home aside {
        margin-top: 136px;
    }
}