.jumbotronBanner {
    background: #c9e7dd url("banner.jpg") no-repeat bottom;
    background-size: cover;
    height: 300px;
}

.jumbotronBanner__textWrapper {
    padding-top: calc(300px - 177px);
}