.allSpeakers {
    list-style: none;
    padding: 0;
}

.allSpeakers__li {
    margin: 20px 0;
}

.allSpeakers__title {
    text-align: center;
}

.allSpeakers__title p {
    margin-bottom: 5px;
}

.allSpeakers__info {
    margin-top: 20px;
}

.allSpeakers__info h4 {
    text-transform: none;
}

.allSpeakers__info .btn {
    margin-top: 17px;
}

input.form-control {
    max-width: 300px;
    border-color: #e6e5e5;
    margin-right: 0 !important;
    padding-left: 14px;
}

input.form-control:focus {
    box-shadow: none;
}

legend {
    font-size: 0.8rem;
}

.input-wrapper {
    position: relative;
    max-width: 300px;
    display: flex;
    border-color: #e6e5e5;
}

.form-group img {
    border-radius: unset;
    width: 20px;
    margin-top: 14px;
}

.input-wrapper i {
    position: absolute;
    right: 12px;
}

@media only screen and (min-width: 420px) {
    .allSpeakers__title {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .title__img {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .allSpeakers__wrapper {
        display: flex;
    }
    main {
        width: 60%;
        max-width: 800px;
    }
    aside {
        width: 30%;
        margin-top: 136px;
        margin-left: 35px;
    }
}