.allSpeakers {
    list-style: none;
    padding: 0;
}

.allSpeakers__li {
    margin: 20px 0;
}

.allSpeakers__title {
    text-align: center;
}

.allSpeakers__title p {
    margin-bottom: 5px;
}

.allSpeakers__info {
    margin-top: 20px;
}

.allSpeakers__info h4 {
    text-transform: none;
}

.allSpeakers__info .card-link {
    padding-top: 17px;
    display: block;
}

@media only screen and (min-width: 420px) {
    .allSpeakers__title {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .title__img {
        margin-right: 20px;
    }
}