.allSpeakers {
    list-style: none;
    padding: 0;
}

.allSpeakers__li {
    margin: 20px 0;
}

.allSpeakers__title {
    text-align: center;
}

.allSpeakers__title p {
    margin-bottom: 5px;
}

.allSpeakers__info {
    margin-top: 20px;
}

.allSpeakers__info h4 {
    text-transform: none;
}

.allSpeakers__info .card-link {
    padding-top: 17px;
    display: block;
}

input.form-control {
    max-width: 400px;
}

@media only screen and (min-width: 420px) {
    .allSpeakers__title {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .title__img {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .allSpeakers__wrapper {
        display: flex;
    }
    main {
        width: 60%;
        max-width: 800px;
    }
    aside {
        width: 30%;
        margin-top: 136px;
        margin-left: 35px;
    }
}