.sponsors {
    margin-top: 60px;
}

.sponsors h3 {
    text-transform: none;
}

.sponsors__imgWrapper {
    margin: 10px 0 20px;
}

.sponsors__imgWrapper img {
    margin: 10px 25px 20px;
    border-radius: unset;
}